{% extends "main.html" %}
{% block title %}Блог{% endblock %}

{% block article %}

{% for post in posts %}
    <article>
      <h3><a href="{{post.id}}">{{post.post_title}}</a></h3>
      <h5><small>{{post.date}} </small></h5>
      <p>{{post.post}}</p>
    </article>
    <hr/>
{% endfor %}
{% endblock %}



{% block aside %}
<aside class="large-3 columns">
 <h5>Categories</h5>
 <ul class="side-nav">
   <li><a href="#">News</a></li>
   <li><a href="#">Code</a></li>
   <li><a href="#">Design</a></li>
   <li><a href="#">Fun</a></li>
   <li><a href="#">Weasels</a></li>
 </ul>

 <div class="panel">
   <h5>Featured</h5>
   <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
   <a href="#">Read More →</a>
 </div>

</aside>
{% endblock %}
