{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/foundation.css' %}"  />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="row">
 <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=Logo"></h1>
 </div>
 <div class="large-9 columns">
   <ul class="button-group right">
     <li><a href="#" class="button">Link 1</a></li>
     <li><a href="#" class="button">Link 2</a></li>
     <li><a href="/blog/" class="button">Блог</a></li>
     {% if request.user.username %}
        <li><a href="/logout/" class="button">Вийти({{request.user.username}})</a></li>
    {% else %}
        <li><a href="/login/" class="button">Ввійти</a></li>
    {% endif %}
   </ul>
 </div>
</div>

<div class="row">
    {% block main %}{% endblock %}
  <div class="large-9 columns" role="content">
    {% block article %}{% endblock %}
  </div>
    {% block aside %}{% endblock %}
 </div>

{% block footer %}
<footer class="row">
 <div class="large-12 columns">
   <hr/>
   <div class="row">
     <div class="large-6 columns">
       <p>© Copyright no one at all. Go to town.</p>
     </div>
     <div class="large-6 columns">
       <ul class="inline-list right">
         <li><a href="#">Link 1</a></li>
         <li><a href="#">Link 2</a></li>
         <li><a href="#">Link 3</a></li>
         <li><a href="#">Link 4</a></li>
       </ul>
     </div>
   </div>
 </div>
</footer>
{% endblock %}


</body>
</html>
