{% extends "main.html" %}

{% block main %}
<div class='large-offset-3 large-6 colomns'>
    <form action='' method='post'>
        {% csrf_token %}
        <label for='username'> Ім'я користувача</label>
        <input type='text' name='username' id='username'>
        <label for='password'>Пароль</label>
        <input type='password' name='password' id='password'>
        {% if login_error %}
            <label class='error'>{{ login_error }}</label>
        {% endif %}
        <input class='button' type='submit' value='Ввійти'>
        <div class="label round secondary"><a href="/register/">Реєстрація</a></div>
    </form>
</div>

{% endblock %}
