{% extends "main.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% providers_media_js %}


<div class="row">
 <div class="large-12 columns">
   <img src="http://placehold.it/1000x400&text=[img]">

   <hr>
 </div>
</div>

{% block main %}
<div class="large-offset-3 large-6 columns">
    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input class="button" type="submit" value="Зареєструватись">
    <span>Або</span>
    <a href="{% provider_login_url "facebook" %}" method="oauth2">
        <img width="40" height="40" src="{% static 'static/webicon-facebook.svg'%}" alt="Auth Facebook">
    </a>
    </form>
</div>

{% endblock %}
